<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/images/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h1>DYNAFLEX</h1>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li>  
        </ul>
</nav>
<!-- contact section start -->
<div class="yale">
    <h3 class="cap">
        Contact
    </h3>
    <p class="net">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>Obcaecati expedita quas ut quam ullam facilis aliquid <br>nesciunt nisi, beatae perspiciatis. Dicta commodi natus.
    </p>
    <h3 class="pac">
        Address
    </h3>
    <p class="ten">
        DYNAFLEX Travel Agency, Nnamdi <br>Azikiwe Airport road,Abuja, Nigeria.
    </p>
    <h3 class="num">
        Phone number
    </h3>
    <p class="mun">
        09118790124
    </p>
    <h3 class="sung">
        Email
    </h3>
    <p class="jin">
        dkorie352@gmail.com
    </p>
    <div class="finn"><i class="fa-brands fa-facebook-f" style="color: white; font-size: 24px;" ></i>
    <i class="fa-brands fa-square-instagram" style="color: white; font-size: 24px;"></i>
    <i class="fa-brands fa-twitter" style="color: white; font-size: 24px;"></i>
</div>
<form action="http://localhost:5000/sendfeedback" method="post">
    <h3 class="bask">
        Get in touch
    </h3>
    <br><br><br><br>
    <label for=""> Name:</label><br>
    <input type="text" name="name" required>
    <br><br><br><br>
    <label for=""> Email:</label><br>
    <input type="email" name="email" required>
    <br><br><br><br>
    <label for=""> Phone number:</label><br>
    <input type="number" name="number" required>
    <br><br><br><br>
    <label for=""> Message:</label><br>
    <input type="text" name="text" required>
    <br><br><br><br>
    <button>Submit</button>
</form>
</div>
<!-- contact section stop -->
<footer>
    <h3 class="grek">DYNAFLEX TRAVELS</h3>

<p class="daft">

    Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
</p>
<h3 class="war">Company</h3>
<li class="sars">
    <a href="" class="king">About us</a>
    <a href="" class="king">Services</a>
    <a href="/contact" class="king">Contact us</a>
    <a href="" class="king">Reviews</a>
</li> 
<h3 class="npf">Support </h3>
<li class="nia">
    <a href="" class="king">FAQ</a>
    <a href="" class="king">Term of use</a>
    <a href="" class="king">Privacy policies</a>
</li>
<h3 class="theo">Our office</h3>
<li class="sss">
    <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
    <br>
    <a href="" class="king">info:dkorie352@gmail.com</a>
    <a href="" class="king">contact:09118790124</a>
</li>
<hr>
<center>
<p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
</footer>
</body>
</html>