<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/PHOTOS/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <h1>DYNAFLEX</h1>
        <ul>
            <div class="ull">
            <li><a href="/">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li> 
            </div>
        </ul>

        <div class="hammm">
            <div class="barses">
        <i class="fa fa-bars"></i>
    </div>
    <div class="closesed">  
       <i class="fa fa-close"></i>
    </div>
    </div>
</nav>
<div class="yp">
    <div class="lp">
        <h2 class="lop">
            Welcome Back!
        </h2>
<p class="pic">
   We're glad to see you again. Log in <br>to access your personalized travel <br>deals and manage your bookings <br>with ease.
</p>
    </div>
    <form action="http://localhost:5000/loginfeedback" method="post">
        
        <h2 class="hide">
            DYNAFLEX
        </h2>
        <H3 class="pray">
            Login to Account
        </H3>
        <hr class="sprig">
        <div class="sly">
        <i class="fa-brands fa-facebook-f" style="width: 20px; font-size: 24px;"></i>
        <i class="fa-brands fa-square-instagram" style="width: 20px;font-size: 24px;"></i>
      <i class="fa-brands fa-twitter" style="width: 20px;font-size: 24px;"></i>  
    </div>
        <br>
<input type="email" placeholder="Email" name="email" required autocomplete="current-password">
<br><br><br><br>
<input type="password"  placeholder="Password" name="password" required>
<input type="checkbox" class="ominae
">
<p class="lik"> 
    Remember me
</p>
<p class="marap">
    Forget password?
</p>
<button class="loit">Login</button>
    </form>
</div>
<footer>
    <h3 class="grek">DYNAFLEX TRAVELS</h3>

<p class="daft">

    Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
</p>
<h3 class="war">Company</h3>
<li class="sars">
    <a href="" class="king">About us</a>
    <a href="" class="king">Services</a>
    <a href="/contact" class="king">Contact us</a>
    <a href="" class="king">Reviews</a>
</li> 
<h3 class="npf">Support </h3>
<li class="nia">
    <a href="" class="king">FAQ</a>
    <a href="" class="king">Term of use</a>
    <a href="" class="king">Privacy policies</a>
</li>
<h3 class="theo">Our office</h3>
<li class="sss">
    <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
    <br>
    <a href="" class="king">info:dkorie352@gmail.com</a>
    <a href="" class="king">contact:09118790124</a>
</li>
<hr>
<center>
<p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
</footer>
<script >

// document.querySelector(".fa").addEventListener("click", function(){
//     window.alert('jjjj')
// })

    document.querySelector(".barses").addEventListener("click", function(){
    // window.alert('jjjj')
    document.querySelector(".barses").classList.add("active")
    document.querySelector(".closesed").classList.add("active")
    document.querySelector(".ull").classList.add("active")
})
document.querySelector(".closesed").addEventListener("click", function(){
    document.querySelector(".barses").classList.remove("active")
    document.querySelector(".closesed").classList.remove("active")
    document.querySelector(".ull").classList.remove("active")
})
</script>
</body>
</html>