<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/PHOTOS/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/places.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h1>DYNAFLEX</h1>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li> 
        </ul>
    </nav>
    <h2 class="guth">Travel The World With Us DYNAFLEX
    </h2>
    <br><br><br><BR><BR><BR><BR><BR></BR></BR></BR></BR></BR>
    <div class="red">
<div class="yre">
            <div class="fred">
                <img src="/images/3bc6baf9-67e4-4911-b935-444b823fb163.jpeg" alt="dod" style="    border-top-left-radius: 20px;
        border-top-right-radius: 20px; height: 250px; width: 300px;">
            </div>
            <div class=" namek">
    
            </div>
            <h2 class="sal">
                France
            </h2>
            <br>
            <p class="start">
                Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
            </p>
            <p class="fast">
                Price Range From:
                <br>
               $1,000</p>
               <div class="nicolee"><i class="fa-solid fa-phone"></i></div>
               <p class="vic"> 09118790124</p>
               <div class="lip"><i class="fa-solid fa-link"></i></div>
               <p class="pill">dkorie352@gmail.com</p>
        </div>
    
        <h1 class="dax">
            Holiday to Barcelona
        </h1>
        <p class="gru">
            Barcelona is a must-visit for its stunning architecture like Gaudí's Sagrada Família and Park Güell, rich history in the Gothic Quarter, vibrant arts scene, and beautiful beaches.Its lively culture, delicious Catalan cuisine, and vibrant nightlife make it an unforgettable destination.
        </p>
        

       <a href="" class="yur">Explore</a>

      </div>
      <br><br><br><br>
      <div class="red">
        <div class="yre">
                    <div class="fred">
                        <img src="/images/Sagrada Familia  (Barcelona, España).jfif" alt="dod" style="    border-top-left-radius: 20px;
                border-top-right-radius: 20px; height: 250px; width: 300px;">
                    </div>
                    <div class=" namek">
            
                    </div>
                    <h2 class="sal">
                        Spain
                    </h2>
                    <br>
                    <p class="start">
                        Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
                    </p>
                    <p class="fast">
                        Price Range From:
                        <br>
                       $1,000</p>
                       <div class="nicolee"><i class="fa-solid fa-phone"></i></div>
                       <p class="vic"> 09118790124</p>
                       <div class="lip"><i class="fa-solid fa-link"></i></div>
                       <p class="pill">dkorie352@gmail.com</p>
                </div>
            
                <h1 class="dax">
                    Holiday to Spain
                </h1>
                <p class="gru">
                    Spain offers a rich blend of history, culture, and natural  beauty, from the vibrant cities of Madrid and Barcelona  to the stunning beaches of Costa del Sol. Visitors can explore world-famous landmarks like the Alhambra and Sagrada Família, indulge in delicious cuisine such as tapas.
          
        
               <a href="" class="ruy">Explore</a>
        
              </div>
              <br><br><br><br>
              <div class="red">
                <div class="yre">
                            <div class="fred">
                                <img src="/images/Our Favorite London Photo Spots - Expert Explorers.jfif" alt="dod" style="    border-top-left-radius: 20px;
                        border-top-right-radius: 20px; height: 250px; width: 300px;">
                            </div>
                            <div class=" namek">
                    
                            </div>
                            <h2 class="sal">
                                London
                            </h2>
                            <br>
                            <p class="start">
                                Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
                            </p>
                            <p class="fast">
                                Price Range From:
                                <br>
                               $1,000</p>
                               <div class="nicolee"><i class="fa-solid fa-phone"></i></div>
                               <p class="vic"> 09118790124</p>
                               <div class="lip"><i class="fa-solid fa-link"></i></div>
                               <p class="pill">dkorie352@gmail.com</p>
                        </div>
                    
                        <h1 class="dax">
                            Holiday to London
                        </h1>
                        <p class="gru">
                            Barcelona is a must-visit for its stunning architecture like Gaudí's Sagrada Família and Park Güell, rich history in the Gothic Quarter, vibrant arts scene, and beautiful beaches. Its lively culture, delicious Catalan cuisine, and vibrant nightlife make it an unforgettable destination.
                        </p>
                      
                
                       <a href="" class="yur">Explore</a>
</div>

                      <br><br><br><br>
                      <div class="red">
                        <div class="yre">
                                    <div class="fred">
                                        <img src="/images/Maldives Photography - Ocean View.jfif" alt="dod" style="    border-top-left-radius: 20px;
                                border-top-right-radius: 20px; height: 250px; width: 300px;">
                                    </div>
                                    <div class=" namek">
                            
                                    </div>
                                    <h2 class="sal">
                                        Maldives
                                    </h2>
                                    <br>
                                    <p class="start">
                                        Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
                                    </p>
                                    <p class="fast">
                                        Price Range From:
                                        <br>
                                       $1,000</p>
                                       <div class="nicolee"><i class="fa-solid fa-phone"></i></div>
                                       <p class="vic"> 09118790124</p>
                                       <div class="lip"><i class="fa-solid fa-link"></i></div>
                                       <p class="pill">dkorie352@gmail.com</p>
                                </div>
                            
                                <h1 class="dax">
                                    Holiday to Maldives
                                </h1>
                                <p class="gru">
                                    Barcelona is a must-visit for its stunning architecture like Gaudí's Sagrada Família and Park Güell, rich history in the Gothic Quarter, vibrant arts scene, and beautiful beaches. Its lively culture, delicious Catalan cuisine, and vibrant nightlife make it an unforgettable destination.
                                </p>
                              
                        
                               <a href="" class="yur">Explore</a>
                        
</div>
<br><br><br><br>
<div class="red">
  <div class="yre">
              <div class="fred">
                  <img src="/images/Victoria island Lagos Nigeria at night.jfif" alt="dod" style="    border-top-left-radius: 20px;
          border-top-right-radius: 20px; height: 250px; width: 300px;">
              </div>
              <div class=" namek">
      
              </div>
              <h2 class="sal">
                  Nigeria
              </h2>
              <br>
              <p class="start">
                  Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
              </p>
              <p class="fast">
                  Price Range From:
                  <br>
                 $1,000</p>
                 <div class="nicolee"><i class="fa-solid fa-phone"></i></div>
                 <p class="vic"> 09118790124</p>
                 <div class="lip"><i class="fa-solid fa-link"></i></div>
                 <p class="pill">dkorie352@gmail.com</p>
          </div>
      
          <h1 class="dax">
              Holiday to Nigeria
          </h1>
          <p class="gru">
              Barcelona is a must-visit for its stunning architecture like Gaudí's Sagrada Família and Park Güell, rich history in the Gothic Quarter, vibrant arts scene, and beautiful beaches. Its lively culture, delicious Catalan cuisine, and vibrant nightlife make it an unforgettable destination.
          </p>
          
  
         <a href="" class="yur">Explore</a>
  
        </div>
<!-- <br><br><br><br><br><br>
      <div class="gret">
<img src="/PHOTOS/WhatsApp Image 2024-08-29 at 11.39.33_36e593d7.jpg" alt="" class="sac" width="450px" height="350px">
<h1 class="yop">
     Summer in Qatar
</h1>
<p class="fed">
    Qatar offers a blend of modern luxury and rich culture.. <br>  Explore the stunning Museum of Islamic Art, traditional <br> Souq Waqif, and the vibrant Katara Cultural Village. <br> Enjoy luxury shopping and dining in world-class malls <br>
    while experiencing the unique desert landscape
</p>
<hr class="bat">
<p class="fast">
Price Range From:
<br>
$1,000</p>
<a href="" class="rew">Explore</a>
      </div>
      <br><br><br>
<div class="ghazal">
    <img src="/PHOTOS/WhatsApp Image 2024-08-29 at 11.37.43_49520794.jpg" alt="" width="450px" height="350px" class="sac">
        <h1 class="yop">
            Summer in Morroco
        </h1>
        <p class="fed">
            Morocco offers a rich tapestry of cultural experiences,<br> from bustling souks and historic medinas to the majestic<br> Sahara Desert. The country's diverse landscapes,<br> including the Atlas Mountains and stunning coastlines,<br> provide endless adventure. Moroccan cuisine, with its<br> unique blend of spices and flavors, is a culinary delight.<br> Additionally, the warm hospitality of the Moroccan<br> people makes every visit unforgettable.
        </p>
        <hr class="sqa">
        <p class="tas">
            Price Range From:
            <br>
            $1,000</p>
            <a href="" class="rew">Explore</a>
</div>
<br><br><br>
<div  class="col">
    <img src="/PHOTOS/WhatsApp Image 2024-08-29 at 11.31.49_467252a7.jpg" alt="" width="450px" height="350px" class="span">
    <h1 class="yop">
        Summer in London
    </h1>
    <p class="def">
        Explore iconic landmarks like the Tower of London and <br> Buckingham Palace, and enjoy world-class museums <br> like the British Museum. Stroll through charming <br> neighborhoods like Covent Garden, and savor diverse  <br>culinary delights.
    </p>
    <hr class="poy">
    <p class="sat">
        Price Range From:
        <br>
        $1,000</p>
        <a href="" class="rew">Explore</a>
</div>
<br><br><br>
<div  class="col">
    <img src="/PHOTOS/WhatsApp Image 2024-08-29 at 11.35.31_0d3c70a2.jpg" alt="" width="450px" height="350px" class="span">
    <h1 class="yop">
        Summer in Spain
    </h1>
    <p class="def">
        Spain offers a rich blend of history, culture, and natural <br> beauty, from the vibrant cities of Madrid and Barcelona <br> to the stunning beaches of Costa del Sol. Visitors can  <br>explore world-famous landmarks like the Alhambra and <br> Sagrada Família, indulge in delicious cuisine such as tapas  <br>and paella, and experience lively festivals like La Tomatina <br> and Flamenco. With its warm climate and welcoming  <br>atmosphere, Spain provides a perfect getaway for both  <br>relaxation and adventure.
    </p>
    <hr class="dag">
    <p class="gerf">
        Price Range From:
        <br>
        $1,000</p>
        <a href="" class="rew">Explore</a>
</div>
 -->




    <footer>
        <h3 class="grek">DYNAFLEX TRAVELS</h3>
    
    <p class="daft">
    
        Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
    </p>
    <h3 class="war">Company</h3>
    <li class="sars">
        <a href="" class="king">About us</a>
        <a href="" class="king">Services</a>
        <a href="/contact" class="king">Contact us</a>
        <a href="" class="king">Reviews</a>
    </li> 
    <h3 class="npf">Support </h3>
    <li class="nia">
        <a href="" class="king">FAQ</a>
        <a href="" class="king">Term of use</a>
        <a href="" class="king">Privacy policies</a>
    </li>
    <h3 class="theo">Our office</h3>
    <li class="sss">
        <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
        <br>
        <a href="" class="king">info:dkorie352@gmail.com</a>
        <a href="" class="king">contact:09118790124</a>
    </li>
    <hr>
    <center>
    <p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
    </footer>
</body>
</html>