@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins: "poppins", sans-serif;
}
.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: white;
    }
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
    font-family: var(--poppins);
    font-size: 18px;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
    padding: 10px;
   background-color: red;
   color: white;
   border-radius: 7px;
}
nav h1 {
    font-family:var(--poppins);
    margin-top: 3px;
}
.fsa {
    position: absolute;
    top: 220px;
    z-index: 999;
    color: #ffffff;
    background-color: red;
    border: none;
    font-family: var(--poppins);
    padding: 15px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
   background-color: red;
   color: white;
   border-radius: 7px;
}
label {
    font-family: var(--poppins);
    color:white ;
}
.road {
    color: #ffffff;
    font-family: var(--poppins);
}
nav h1 {
    margin-top: 3px;
}
video{
    margin-left: -15px;
    margin-top: 50px;
    transform: translateY(-376px); 
    width: 1590px;
}
form {
    margin-left: 310px;
    position: absolute;
    top: 407px;
    background-color: black;
    opacity: 80%;
    border-radius: 7px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-top: 130px;
    height: 250px;
}
input {
    border-radius: 4px;
    outline: none;
    margin-left: 35px;
    transform: translatex(-29px);
}
.tom {
    margin-left: 10px;
}
.benxu {
    position: absolute;
    top: 137px;
    margin-left: 32px;
}
.box {
    margin-left:177px;
    transform: translateY(-21px);
    margin-left: 28px;
}
.wick {
    position: absolute;
    top: 137px;
    margin-left: 10px;
}
.diddy {
    transform: translateY(-21px);
    margin-left: 220px;
}
form ::after {
    background-color: black;
    z-index: -1;
}
footer{
    background-color: rgb(66, 56, 56);
    height: 380px;
    margin-left: -10px;
    margin-right: -7px;
    padding-top: 15px;
    margin-top: -250px;
}
.sars {
    color: white;
    margin-left: 570px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.war {
    color: white;
    margin-left: 570px;
    margin-top: -200px;
    font-size: 20px;
    font-family: var(--poppins);

}
.king {
    font-family: var(--poppins);
    color: white;
    text-decoration: none;
}
.npf {
    color: white;
    margin-left: 870px;
    margin-top: -163px;
    font-size: 20px;
    font-family: var(--poppins);
}
.nia {
    color: white;
    margin-left: 870px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.theo {
    color: white;
    margin-left: 1270px;
    margin-top: -163px;
    font-size: 20px;
    font-family:var(--poppins);
}
.sss {
    color: white;
    margin-left: 1270px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
hr{
    margin-top: 48px;
}
.ksb{
    color: white;
    /* margin-left: 1094px; */
}
.grek {
    color: white;
    margin-top: 57px;
    margin-left: 40px;
    font-weight: bolder;
    font-family: var(--poppins);

}
.daft {
    color: white;
    margin-left: 40px;
    font-size: 20px;
    font-family: var(--poppins);
}