

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins: "poppins", sans-serif;
}

.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color:white ;

    }
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
.hammm{
    width: 30px;
    display: none;
}

body {
     background-color: #dadada;
}

.fop {
    font-family: var(--poppins);
}
.sret {
    width: 1250px;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    box-shadow: springgreen;
}
.rasp {
    margin-top: -190px;
    margin-left: 450px;
    font-size: 30px;
    font-family: var(--poppins);
    text-decoration: underline;
}
/* button {
    color: white;
    background-color: blue;
    margin-left: 1000px;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 7px;
} */
.spar {
    margin-top: -15px;
    margin-left: 450px;
    font-size: 25px;
    font-family: var(--poppins);
    font-weight: 35px;

}
.swer {
    margin-left: 30px;
    margin-top: 10px;
}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
        font-family:var(--poppins) ;
    font-size: 18px;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
    padding: 10px;
   background-color: red;
   color: white;
   border-radius: 7px;
}
nav h1 {
    font-family:'Segoe UI';
    margin-top: 3px;
}
.lp {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #da1212;
    width: 500px;
    height: 645px;
}
.lop {
    margin-left: 160px;
    transform: translateY(240px);
    color: white;
    font-family:var(--poppins);
}
.pic {
    margin-top: 250px;
    color: white;
    text-align: center;
    font-family: var(--poppins);
}
form {
    background-color: white;
    margin-left: 500px;
    margin-top: -666px;
    width: 600px;
    height: 645px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.hide {
    font-family: 'Segoe UI';
    margin-left: 440px;
}
.pray {
    margin-left: 225px;
    font-family: 'Segoe UI';
    transform:  translateY(80px);
}
.sprig {
    margin-top: 100px;
    width: 120px;
    height: 5px;
    background-color: red;
    border: none;
}
i {
    margin-top: 10px;
    transform: translateX(220px);
    margin-left: 20px;
}
input {
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    border: none;
    background-color: #f6f3f3;
    color: BLACK;
    transform: translateY(40px);
    margin-left: 150px;
    width: 300px;
    height: 40px;
}
.ominae {
    transform: translateY(4px);
    margin-top: 50px;
    margin-left: 160px;
    width: 10px;
    height: 10px;
    border: solid 1px black;
}
form input ::placeholder{
    margin-left: 50px;
}
.yp {
    margin-left: 230px;
}
.loit {
    margin-top: 30px;
    margin-left: 230px;
    width: 140px;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: #da1212;
    color: white;
}
.lik {
    font-size: 12px;
    font-family: 'Segoe UI';
    margin-left: 175px;
    margin-top: -14px;
}
.marap {
    font-size: 12px;
    font-family: 'Segoe UI';
    margin-top: -27px;
    margin-left: 350px;
}
footer{
    position: relative;
    top: 28px;
    background-color: rgb(66, 56, 56);
    height: 380px;
    margin-left: -10px;
    margin-right: 0.5px;
    padding-top: 15px;
    margin-top: 40px;
}
.sars {
    color: white;
    margin-left: 570px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.war {
    color: white;
    margin-left: 570px;
    margin-top: -200px;
    font-size: 20px;
    font-family:'Segoe UI';

}
.king {
    font-family: var(--poppins);
    color: white;
    text-decoration: none;
}
.npf {
    color: white;
    margin-left: 870px;
    margin-top: -163px;
    font-size: 20px;
    font-family: var(--poppins);
}
.nia {
    color: white;
    margin-left: 870px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.theo {
    color: white;
    margin-left: 1270px;
    margin-top: -163px;
    font-size: 20px;
    font-family:var(--poppins);
}
.sss {
    color: white;
    margin-left: 1270px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
hr{
    margin-top: 48px;
    width: auto;
}
.ksb{
    color: white;
    font-family: var(--poppins);
    /* margin-left: 1094px; */
}
.grek {
    color: white;
    margin-top: 57px;
    margin-left: 40px;
    font-weight: bolder;
    font-family: var(--poppins);

}
.daft {
    color: white;
    margin-left: 40px;
    font-size: 20px;
    font-family: var(--poppins);
}
@media (max-width :800px){
    
.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 40px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color:white ;

    }
.daf {
    margin-left: 110px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    width: auto;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
body {
     background-color: #dadada;
}
/* button {
    color: white;
    background-color: blue;
    margin-left: 1000px;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 7px;
} */

nav ul {
    list-style:none;
    margin-top: -65px;
    margin-left: 200px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
    font-family:var(--poppins) ;
    font-size: 15px;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
    padding: 10px;
   background-color: red;
   color: white;
   border-radius: 7px;
}
nav h1 {
    font-size: 20px;
    font-family:'Segoe UI';
    margin-top: 3px;
}
.lp{
    margin-top: 70px;
    margin-left: -130px;
    height: 500px;
    width: 300px;
}
.lop{
    transform: translateY(200px);
    margin-left: 70px;
    font-size: 20px;
}
.pic{
    margin-top: 210px;
    font-size: 15px;
}
form{
    height: 500px;
    width: 300px;
    margin-top: -514px;
    margin-left: 171px;
}
.hide{
    font-size: 17px;
    margin-left: 189px;
}
.pray{
    margin-left: 83px;
    font-size: 17px;
}
.sly{
    margin-left: -145px;
}
input{
    margin-top: -50px;
    width: 200px;
    height: 30px;
    margin-left: 40px;
}
.ominae{
    transform: translateX(-110px);
}
.lik{
    margin-top: -17px;
    margin-left: 70px;
}
.marap{
    margin-left: 170px;
}
.marap:hover{
    color: #da1212;
}
.loit{
    margin-left: 90px;
    height: 30px;
    width: 100px;
}
.yp{

    justify-self: center;
    justify-content: center; 
    align-self: center;
    
} 
footer{
width: fit-content;
margin-left:-10px;
margin-right: -8px;

}
.grek{
    font-size: 15px;
}
.daft{
    font-size: 12px;
}
.war{
    margin-top: -130px;
    margin-left: 310px;
    font-size: 15px;
}
.sars{
    margin-left: 320px;
    font-size: 12px;
}
.npf{
    margin-top: -154px;
    margin-left: 410px;
    font-size: 15px; 
}
.nia{
    margin-left: 420px;
    font-size: 12px;   
}
.theo{
    margin-top: -158px;
    margin-left: 540px;
    font-size: 15px; 
}
.sss{
    margin-top: -5px;
    margin-left: 540px;
    font-size: 12px;  
}
}
@media(max-width :700px){
    .ferg{
        width: fit-content;
        transform: translateX(50px);
    }
    nav{
        width: 650px;
    }
    .hammm{
        display: block;
    }
    nav .ull{
        padding-top: 10px;
        margin-top: -300px;
        margin-left: 199px;
        transition: all 0.3s ease-in; 
        width: 230px;
        
        
    }
    nav ul{

    }
    nav ul li {
        padding-bottom: 17px;
        z-index: 999px;
        display: grid;
    }
    nav .ull.active{
        
        box-shadow: 8px 0px 12px;
        width: 230px;
        margin-left: 199px;
        transform: translateY(297px);
        display: block;
        z-index: -1px;
        opacity: 85%;
        background-color: white;
    }
    .yp{
        margin-left:150px ;
    }
    footer{
        width: fit-content;
    }
    .closesed {
      display: none;
    }
    .closesed.active{
        transform: translateY(-19px);
        margin-left: 350px;
        display: block;
        font-size: 23px;
    }
    .barses{
        margin-left: 350px;
        margin-top: -20px;
        display: block;
        font-size: 23px;
    }
    .barses.active{
        display: none;
    }

}

@media(max-width :600px){
    .yp{
        margin-left: 230px;
    }
}

@media(max-width :550px){
    .yp{
        margin-left: 290px;
    }
}

@media(max-width :500px){
    .yp{
        margin-left: 330px;
    }
}

@media(max-width :450px){
    .yp{
        margin-left: 370px;
}
footer{
    margin-top: 130px;
}
}