
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:" poppins" ,sans-serif;
}
:root{
    --poppins: "poppins", sans-serif;
}

.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: white;
    }
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
    font-family: var(--poppins);
    font-size: 18px;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
    padding: 10px;
   background-color: red;
   color: white;
   border-radius: 7px;
}
nav h1 {
    font-family:var(--poppins);
    margin-top: 3px;
}
.fsa {
    position: absolute;
    top: 220px;
    z-index: 999;
    color: #ffffff;
    background-color: red;
    border: none;
    font-family: var(--poppins);
    padding: 15px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
   background-color: red;
   color: white;
   border-radius: 7px;
}
label {
    font-family: var(--poppins);
    color:white ;
}
.road {
    color: #ffffff;
    font-family: var(--poppins);
}
nav h1 {
    margin-top: 3px;
}

/* 
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
    margin-left: 30px;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--poppins);
    font-size: 18px;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: rgb(255, 0, 0) ;
}
nav ul li a:hover {
    padding: 10px;
   background-color: red;
   color: white;
   border-radius: 7px;
}
nav h1 {
    font-family:  var(--poppins);
    margin-top: 3px;
}
.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color:white ;

    } */
.red {
    width: 1200px;
    padding-top:30px ;
    background-color: white;
    height: 400px;
    margin-left: 100px;
    border-radius: 7px;
}
.dax {
    margin-top: -290px;
    margin-left: 440px;
    color: black;
    font-family: var(--poppins);  
}
.fed {
    margin-left: 540px;
    font-family: var(--poppins);
    font-size: 25px;
}
.fsa {
    position: absolute;
    top: 479px;
    transform: rotate(90deg);
    width: 430px;
    margin-left: 800px;

}
.yre {
    /* margin-top: 20px; */
    margin-left: 50px;
    border: solid 2px;
    height: 350px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 300px;
}
.namek {
    background-color: white;
    height: 100px;
    width: 300px;
    margin-top: -5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 .sal {
    font-weight: 15px;
    font-family: var(--poppins);
    margin-top: -107px;
    margin-left: 5px;
 }

.fast {
    margin-left: 170px;
    margin-top: -60px;
    font-size: 14px;
    font-family: var(--poppins);
}
.yur {
    text-decoration: none;
    margin-left: 1085px;
    font-family: var(--poppins);
    color: white;
    background-color: red;
    padding: 10px;
    padding-right: 17px;
    padding-left: 17px;
    height: 40px;
    width: 80px;
    border-radius: 7px;
}
.gret {
    background-color: white;
    height: 400px;
    border-radius: 7px;
}
.sac {
    border: solid;
    margin-left: 30px;
    margin-top: 20px;
}
.yop {
    margin-top: -340px;
    margin-left: 540px;
    color: black;
    font-family: var(--poppins);  
}
.gru {
    margin-left: 440px;
    font-family: var(--poppins);
    font-size: 20px;
    /* display: flex; */
}
.ruy {
    font-size: 17px;
    text-decoration: none;
    margin-left: 640px;
    font-family: var(--poppins);
    color: white;
    background-color: red;
    padding: 10px;
    padding-right: 17px;
    padding-left: 17px;
    height: 40px;
    width: 80px;
    border-radius: 7px;
}

.bat {
    position: absolute;
    top: 1303px;
    transform: rotate(90deg);
    width: 400px;
    margin-left: 1000px; 
}
.rew {
    text-decoration: none;
    margin-left: 1285px;
    font-family: var(--poppins);
    color: white;
    background-color: red;
    padding: 10px;
    height: 40px;
    width: 80px;
    border-radius: 7px;
}
.ghazal {
    background-color: white;
    height: 400px;
    border-radius: 7px;
}
.sqa {
    position: absolute;
    top: 1758px;
    transform: rotate(90deg);
    width: 400px;
    margin-left: 1000px; 
}
.tas {
    margin-left: 1280px;
    margin-top: -260px;
    font-size: 25px;
    font-family: var(--poppins);
}
.def {
    margin-left: 540px;
    font-family: var(--poppins);
    font-size: 25px;
}
.col {
    background-color: white;
    height: 400px;
    border-radius: 7px;
}
.span {
    border: solid;
    margin-left: 30px;
    margin-top: 20px; 
}
.poy {
    position: absolute;
    top: 2210px;
    transform: rotate(90deg);
    width: 400px;
    margin-left: 1000px;
}
.sat {
    margin-left: 1280px;
    margin-top: -200px;
    font-family: var(--poppins);
    font-size: 25px;
}
.gerf {
    margin-left: 1280px;
    margin-top: -300px;
    font-family: var(--poppins);
    font-size: 25px;  
}
.dag {
    position: absolute;
    top: 2666px;
    transform: rotate(90deg);
    width: 400px;
    margin-left: 1000px;
}
.fad {
    border: solid;
    margin-left: 30px;
    margin-top: 20px;
}
footer{
    background-color: rgb(66, 56, 56);
    height: 380px;
    margin-left: -10px;
    margin-right: -7px;
    padding-top: 15px;
    margin-top: 100px;
}
.guth {
    position: absolute;
    top: 110px;
    left: 320px;
    color: #000000;
    font-size: 50px;
    font-family: var(--poppins);
}
.sars {
    color: white;
    margin-left: 570px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.nicolee {
    margin-top: 20px;
    margin-left: 13px;
}
.vic {
    margin-top: -20px;
    margin-left: 39px;
    font-family: var(--poppins);
    font-size: 13px;
}
.sa {
    position: absolute;
    top: 980px;
    transform: rotate(90deg);
    width: 430px;
    margin-left: 800px;
}
.saf {
    position: absolute;
    top: 1483px;
    transform: rotate(90deg);
    width: 430px;
    margin-left: 800px;
}
.afs {    
    position: absolute;
    top: 1985px;
    transform: rotate(90deg);
    width: 430px;
    margin-left: 800px;
}  
.fas {
    position: absolute;
    top: 2487px;
    transform: rotate(90deg);
    width: 430px;
    margin-left: 800px;
}
.war {
    color: white;
    margin-left: 570px;
    margin-top: -200px;
    font-size: 20px;
    font-family: var(--poppins);

}
.pill {
    margin-top: -20px;
    margin-left: 150px;
    font-family: var(--poppins);
    font-size: 13px;
}
.lip {
    margin-top: -30px;
    margin-left: 125px;
}
.king {
    font-family: var(--poppins);
    color: white;
    text-decoration: none;
}
.npf {
    color: white;
    margin-left: 870px;
    margin-top: -163px;
    font-size: 20px;
    font-family: var(--poppins);
}
.nia { 
    color: white;
    margin-left: 870px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.theo {
    color: white;
    margin-left: 1270px;
    margin-top: -163px;
    font-size: 20px;
    font-family: var(--poppins);
}
.sss {
    color: white;
    margin-left: 1270px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
hr{
    margin-top: 48px;
}
.ksb{
    color: white;
    /* margin-left: 1094px; */
}
.weg {
    height: 300px;
    width:1583px;
    margin-left: -9px;
}
.start {
    margin-top: -27px;
    margin-left:10px;
    font-size: 10px;
 }
 .dan {
    margin-left: 10px;
 }
body {
    background-color:#F6F3F3 ;

}
.grek {
    color: white;
    margin-top: 57px;
    margin-left: 40px;
    font-weight: bolder;
    font-family: var(--poppins);

}
.daft {
    font-family: var(--poppins);
    color: white;
    margin-left: 40px;
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}