
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --poppins: "poppins", sans-serif;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #F6F3F3;
}
.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color:white ;

    }
.daf {
    margin-left: 140px;
    margin-top: -180px;
    position: relative;
    top: -25px;
}
nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 40px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -20px;
    transform: translateX(8px);
    

}
.ham{
    display: none;
}

body {
     background-color: #dadada;
}

.fop {
    font-family: var(--poppins);
}
.sret {
    width: 1250px;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    box-shadow: springgreen;
}
.rasp {
    margin-top: -190px;
    margin-left: 450px;
    font-size: 30px;
    font-family: var(--poppins);
    text-decoration: underline;
}
/* button {
    color: white;
    background-color: blue;
    margin-left: 1000px;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 7px;
} */
.spar {
    margin-top: -15px;
    margin-left: 450px;
    font-size: 25px;
    font-family: var(--poppins);
    font-weight: 35px;

}
.swer {
    margin-left: 30px;
    margin-top: 10px;
}
nav ul {
    list-style:none;
    text-align: center;
    margin-top: -65px;
    margin-left: 600px;
}
nav ul li {
    display: inline-flex;
}
 nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
        font-family:var(--poppins) ;
    font-size: 18px;
}
.ref {
    margin-left: 160px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    color: black;
}
nav button:hover {
    color: white;
    background-color: red;
}
nav ul li a:hover {
    padding: 10px;
   background-color: red;
   color: white;
   border-radius: 7px;
}
nav h1 {
    font-family:'Segoe UI';
    margin-top: 3px;
}
footer{
    background-color: rgb(66, 56, 56);
    height: 380px;
    margin-left: -10px;
    margin-right: -7px;
    padding-top: 15px;
    margin-top: 0px;
}
h1{
    font-family: var(--poppins);
}
.sars {
    color: white;
    margin-left: 570px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.wetr {
    font-family: var(--poppins);
    color: white;
}
.TOP {
    margin-top: 100px;
    color: white;
}
.war {
    color: white;
    margin-left: 570px;
    margin-top: -200px;
    font-size: 20px;
    font-family: var(--poppins);

}
.king {
    font-family: var(--poppins);
    color: white;
    text-decoration: none;
}
.npf {
    color: white;
    margin-left: 870px;
    margin-top: -163px;
    font-size: 20px;
    font-family: var(--poppins);
}
.nia {
    color: white;
    margin-left: 870px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.theo {
    color: white;
    margin-left: 1270px;
    margin-top: -163px;
    font-size: 20px;
    font-family: var(--poppins);
}
.sss {
    color: white;
    margin-left: 1270px;
    display: grid;
    grid-template-rows: repeat(4,30px);
}
.rod:hover {
    cursor: pointer;

}
h2 {
    font-size: 20px;
    font-family: var(--poppins);
    margin-right: 590px;
    margin-top: -2px;
}
form input::placeholder{
    margin-left: 50px;
}
hr{
    margin-top: 48px;
}
.pele {
    border: none;
    font-family: var(--poppins);
    margin-top: 10px;
    text-decoration: none;
    color: #da1212;
    background-color: white;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 7px;
}
.year {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    align-content: center;
    margin-left: 910px;
    background-color: #da1212;
    width: 535px;
    height: 645px;

}
.col {
    color: #da1212;
}
.rod {
    color: white;
    background-color: #da1212;
    border: none;
    border-radius: 7px;
    width: 140px;
    height: 50px;
}
.aria {
    border-radius: 10px;
    background-color: #F6F3F3;
    border: none;
    width: 374px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-family: var(--poppins);
    padding-right: 10px;
}
form {
    align-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: -360px;
    background-color: white;
    width: 792px;
    height: 645px;
    margin-top: -646px;
}
.rudy {
    margin-top: 100px;
    margin-right: 180px;
}
.john {
    width: 800px;
}
.ksb{
    color: white;
    /* margin-left: 1094px; */
} 
.ferg {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: white;
}
.grek {
color: white;
margin-top: 57px;
margin-left: 40px;
font-weight: bolder;
font-family: var(--poppins);

}
.grek {
    color: white;
    margin-top: 57px;
    margin-left: 40px;
    font-weight: bolder;
    font-family: var(--poppins);
}
.daft {
    font-family: var(--poppins);
    color: white;
    margin-left: 40px;
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}