<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/images/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/book.css">
</head>
<body>
    <nav>
        <h1>DYNAFLEX</h1>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li> 
        </ul>
    </nav>
    <video autoplay loop muted plays-inline class="aria" >
            <source src="/images/mixkit-airplane-taking-off-in-the-sun-27988-hd-ready.mp4" type="video/mp4">
    </video>


<form action="">
    <h1 class="road">BOOK FLIGHTS</h1>
    <br>
    <input type="text" placeholder="Flying From" required>

    <input type="text" placeholder="Flying To" required>
    
    <label for="">Departure Date</label><input type="date" placeholder="Departure date" required>
    <label for="">Flight Type</label>
    <select name="" id="" required>
        <option value=""></option>
        <option value="">One Way</option>
        <option value="">Round Trip</option>
    </select> 
    <br><br>
    <label for="" class="tom">Adult age(18+)</label><br><input type="number" required>
    <label for="" class="wick">Children age (0-17)</label><br><input type="number" class="diddy" required>
    <label for="" class="benxu">Returning Date</label> <input type="date" class="box" required>
    <br><br><br>
    <input type="submit" value="submit" class="fsa">
</form>

<br><br><br><br><br>
    <footer>
        <h3 class="grek">DYNAFLEX TRAVELS</h3>
    
    <p class="daft">
    
        Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
    </p>
    <h3 class="war">Company</h3>
    <li class="sars">
        <a href="" class="king">About us</a>
        <a href="" class="king">Services</a>
        <a href="/contact" class="king">Contact us</a>
        <a href="" class="king">Reviews</a>
    </li> 
    <h3 class="npf">Support </h3>
    <li class="nia">
        <a href="" class="king">FAQ</a>
        <a href="" class="king">Term of use</a>
        <a href="" class="king">Privacy policies</a>
    </li>
    <h3 class="theo">Our office</h3>
    <li class="sss">
        <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
        <br>
        <a href="" class="king">info:dkorie352@gmail.com</a>
        <a href="" class="king">contact:09118790124</a>
    </li>
    <hr>
    <center>
    <p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
    </footer>
</body>
</html>