<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/PHOTOS/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <nav>
        <h1>DYNAFLEX</h1>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <div class="ham">
            <i class="fa fa-bars"></i>
            <i class="fa fa-close"></i>
        </div>
        <ul class="ull">
            <li><a href="/home">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li> 
        </ul>
       
    </nav>
 
    <div class="ajax">
        <div class="lay">
  
        </div>
        <div class="bi">
        <img src="/images/water-landscape-scenery-natural-blue-ancient.jpg" alt="trf" class="wed">
        </div>
    <div class="sis">
        <h1 class="real">DYNAFLEX TRAVELS</h1>
    <p class="neji">Adventure awaits! With every journey, there's a new story to tell and memories to create.
        <br> 
        Trust us to guide you to places where your dreams meet reality. Your next great adventure starts here
        <br>
         let’s make it unforgettable together.
        </p>
        <a href="/about.html"><div class="dir">
            Discover More
        </div>
        </a>
    
        <div class="cab">
        <!-- <input type="location" placeholder="Location" class="tab">
        <input type="date" placeholder="Date" class="bat"> -->
    </div>
    </div>
    </div>
    </div>

    <div class="fed">
        <center>
        <i class=""></i>
    </center>
    </div>
    <center>
    <h1 class="fifa">
        DISCOVER AMAZING TOURS JUST FOR YOU
    </h1>
    <p class="cit">
        See Our Amazing Offers
    </p>
    </center>
    <br><br>
    <div class="jik">
    <div class="ret">
        <div class="fred">
            <img src="/images/3bc6baf9-67e4-4911-b935-444b823fb163.jpeg" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            France
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 8px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
<a href="" class="gter">Book Now</a>

 

    </div>
    <div class="ret">
        <div class="fred">
            <img src="/images/Sagrada Familia  (Barcelona, España).jfif" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            Spain
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 10px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
    <a href="" class="gter">Book Now</a>
    
    </div>
    <div class="ret">
        <div class="fred">
            <img src="/images/Our Favorite London Photo Spots - Expert Explorers.jfif  " alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            London
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 10px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
    <a href="" class="gter">Book Now</a>
    
    </div>
    <div class="ret">
        <div class="fred">
            <img src="/images/Victoria island Lagos Nigeria at night.jfif" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            Nigeria
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 5px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
    <a href="" class="gter">Book Now</a>
    
    </div>
   
</div>
<br><br><br><br>

<div class="jik">
    <div class="ret">
        <div class="fred">
            <img src="/images/Meet Multicultural Toronto (4).jpeg" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            USA
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 5px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
<a href="" class="ter">Book Now</a>

 

    </div>
    <div class="ret">
        <div class="fred">
            <img src="/images/Moraine Lake Alberta Canada.jpeg" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            Canada
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 10px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
    <a href="" class="ter">Book Now</a>
    
    </div>
    <div class="ret">
        <div class="fred">
            <img src="/images/Maldives Photography - Ocean View.jfif" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            Maldives
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold;margin-top: 10px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
    <a href="" class="ter">Book Now</a>
    
    </div>
    <div class="ret">
        <div class="fred">
            <img src="/images/How To Spend 3 Days In Italy.jpeg" alt="dod" style="    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
        </div>
        <div class=" namek">

        </div>
        <h2 class="sal">
            Italy
        </h2>
        <h2 class="wer">
            $750
        </h2>
        <h2 class="rea">
            /3days
        </h2>
        <br>
        <p class="start">
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.
        </p>
        <div class="dan">
        <i class="fa-solid fa-star" style="color: gold; margin-top: 10px;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
        <i class="fa-solid fa-star" style="color: gold;"></i>
    </div>
    <a href="" class="ter">Book Now</a>
    
    </div>
   
</div>


<div class="joey">
<br><br><br><br><br><br><br>
<div class="grill">
    <img src="/images/frer.jpg" alt="" width="400px" height="400px" class="ferd">
    <img src="/images/maldives.png" alt="" width="400px" height="400px" class="redf">
    <img src="/images/florida.png" alt="" width="400px" height="400px" class="derf">
</div>

<div class="WEMA">
    <a href="http://127.0.0.1:5501/places.html"  class="lee">TRENDING</a>
    <a href="http://127.0.0.1:5501/places.html" class="rock">HOT TOURS </a><br>
    <a href="http://127.0.0.1:5501/places.html"class="terry">RECENT</a> 
    </div>
        <br>
        <br>
    <p class="maldives">
    Paris, often dubbed the "City of Light," <br> is a must-visit destination for its <br> unparalleled charm and cultural richness.

    <p class="top">
        If you're looking for a paradise on Earth,<br> the Maldives should be your next destination.<br> Imagine waking up in an overwater bungalow.
    </p>
    <p class="pot">
    Florida offers a perfect blend of sun,<br>  fun, and adventure for every type of <br> traveler.With its stunning beaches.
</p>
<div class="rid">
    <a href="" class="fix">See More</a>
    <a href="" class="xif">See More</a>
    <a href="" class="xic">See More</a>
</div>
    <br><br><br><br><br>
    <hr class="john">
    <center>
    <h1>
        Feedback
    </h1>
</center>
<marquee behavior="" direction="alternate">
<div class="tiwa">

<div class="grey">
    <img src="/images/smiling-woman-gray-background-with-hands-face.jpg" alt="" width="200px" class="gat">
    <h3 class="ghok">
        Name: maya
    </h3>
    <br>
    <p class="br">
        Excellent service from start to finish! The team at DYNAFLEX <br> planned everything perfectly, making my trip seamless and <br>stress-free. Highly recommended for anyone looking to <br>travel with ease!
    </p>
</div>
<br><br>
<div class="group">
<img src="/images/pexels-asadphoto-3155726.jpg" alt="" width="200px" height="120px" class="get"> 
    <h3 class="ghor">
        Name: Mr john 
    </h3>
    <br>
    <p class="bt">

        Had an amazing experience booking through DYNAFLEX! <br>The team was helpful and made planning effortless. <br>Highly recommend for your next trip!
    </p>
</div>
<br><br>
<div class="group">
<img src="/images/pexels-asadphoto-3155726.jpg" alt="" width="200px" height="120px" class="get"> 
    <h3 class="ghor">
        Name: Mr john 
    </h3>
    <br>
    <p class="bt">

        Had an amazing experience booking through DYNAFLEX! <br>The team was helpful and made planning effortless. <br>Highly recommend for your next trip!
    </p>
</div>
</div>
</marquee>
</div>

<footer>
    <h3 class="grek">DYNAFLEX TRAVELS</h3>

<p class="daft">

    Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
</p>
<h3 class="war">Company</h3>
<li class="sars">
    <a href="" class="king">About us</a>
    <a href="" class="king">Services</a>
    <a href="/contact" class="king">Contact us</a>
    <a href="" class="king">Reviews</a>
</li> 
<h3 class="npf">Support </h3>
<li class="nia">
    <a href="" class="king">FAQ</a>
    <a href="" class="king">Term of use</a>
    <a href="" class="king">Privacy policies</a>
</li>
<h3 class="theo">Our office</h3>
<li class="sss">
    <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
    <br>
    <a href="" class="king">info:dkorie352@gmail.com</a>
    <a href="" class="king">contact:09118790124</a>
</li>
<hr>
<center>
<p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
</footer>
<script src="index.js">



</script>
<script>
    document.querySelector(".fa-bars").addEventListener("click", function(){
        document.querySelector(".fa-bars").classList.add("active")
        document.querySelector(".fa-close").classList.add("active")
        document.querySelector(".ull").classList.add("active")
    })
    document.querySelector(".fa-close").addEventListener("click", function(){
        document.querySelector(".fa-bars").classList.remove("active")
        document.querySelector(".fa-close").classList.remove("active")
        document.querySelector(".ull").classList.remove("active")
    })
</script>
</body>
</html>