<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/PHOTOS/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h1>DYNAFLEX</h1>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li> 
        </ul>
    </nav>
    <div class="rudy">
    <div class="year">
    <h1 class="TOP">
        Welcome to DYNAFLEX Travels
    </h1>
    <p class="wetr">
    Click here if you already <br> have an account.
    </p>
<a href="/login
"><button class="pele">Login</button></a>
</div>
    <center>
    <form action="">
        <h2> DYNAFLEX Travels</h2>
        <h1 class="col">Create Account</h1>
        <br><br><br>
        <input type="text" placeholder="Full name" required class="aria">
        <br><br><br>
        <input type="email" name="" id="" placeholder="Email" required class="aria">
        <br><br><br>
        <input type="password" name="" id="" placeholder="Password" required class="aria">
        <br><br><br>
        <input type="phonenumber" name="" id="" placeholder="Phone number" required class="aria">
        <br><br><br>
        <input type="submit" value="submit" class="rod">
        <br><br>
</center>
</div>
<br><br><br><br><br>
    <footer>
        <h3 class="grek">DYNAFLEX TRAVELS</h3>
    
    <p class="daft">
    
        Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
    </p>
    <h3 class="war">Company</h3>
    <li class="sars">
        <a href="" class="king">About us</a>
        <a href="" class="king">Services</a>
        <a href="/contact" class="king">Contact us</a>
        <a href="" class="king">Reviews</a>
    </li> 
    <h3 class="npf">Support </h3>
    <li class="nia">
        <a href="" class="king">FAQ</a>
        <a href="" class="king">Term of use</a>
        <a href="" class="king">Privacy policies</a>
    </li>
    <h3 class="theo">Our office</h3>
    <li class="sss">
        <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
        <br>
        <a href="" class="king">info:dkorie352@gmail.com</a>
        <a href="" class="king">contact:09118790124</a>
    </li>
    <hr>
    <center>
    <p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
    </footer>
</body>
</html>