<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYNAFLEX Travels</title>
    <link rel="icon" href="/images/logo_png-removebg-preview-removebg-preview.png">
    <link rel="stylesheet" href="/css/stores.css">
</head>
<body>
    <nav>
        <h1>DYNAFLEX</h1>
        <img src="/images/logo_png-removebg-preview.png" alt="fer" width="60px" class="daf">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/signup" class="ferg">Sign up</a><li> 
        </ul>
    </nav>
    <center>
<h1 class="fop"> No Need For the hassel Or stress Required in Finding local Markets We Have Taken The Time To Look For Suitable Market For You. </h1>
</center>
<br><br><br>
<div class="sret">
    <img src="/images/pexels-faheem-ahamad-422934800-17634062.jpg" alt="" width="400px" class="swer">
    <h3 class="rasp">Welcome to miss halim's eatery</h3>
    <p class="spar"> It is located at close proximity  to the burj khalifa,<br> which is renowned to be the tallest buiding in the world. </p>
<button class="pra">explore</button>
</div>
<br><br><br>
<div class="sret">
    <img src="/images/pexels-nazim-zafri-1431108-11192429.jpg" alt="" width="400px" height="280px" class="swer">
    <h3 class="rasp">Welcome to mcdonald's</h3>
    <p class="spar"> One of the most popular eateries in the world, while touring England don't forget to stop by.</p>
<button class="ise">explore</button>
</div>
<br><br><br>
<div class="sret">
    <img src="/images/pexels-julia-volk-6118897.jpg" alt="" width="400px" height="280px" class="swer">
    <h3 class="rasp">Welcome to Fred's souvenir shop</h3>
    <p class="spar"> If you are looking for aplace to get souvenirs on your travel no worries we got you covered, when touring morroco remember to stop by.  </p>
<button class="ta">explore</button>
</div>
<br><br><br>
<div class="sret">
    <img src="/images/pexels-kish-1488463.jpg" alt="" width="400px" class="swer">
    <h3 class="rasp">Welcome to sarah's boutique</h3>
    <p class="spar"> If clothes are you problem have no fear because we are here for you sarah's boutique got you covered on kind of clothes you want, so if you are touring qatar and need a place to shop we are here for you. </p>
<button class="fix">explore</button>
</div>
    <footer>
        <h3 class="grek">DYNAFLEX TRAVELS</h3>
    
    <p class="daft">
    
        Established in 2024, our travel agency <br> offers personalized and innovative travel <br>experiences. We specialize in crafting <br>unforgettable journeys that cater to <br>your unique interests. Let us turn <br>your travel dreams into reality.
    </p>
    <h3 class="war">Company</h3>
    <li class="sars">
        <a href="" class="king">About us</a>
        <a href="" class="king">Services</a>
        <a href="/contact" class="king">Contact us</a>
        <a href="" class="king">Reviews</a>
    </li> 
    <h3 class="npf">Support </h3>
    <li class="nia">
        <a href="" class="king">FAQ</a>
        <a href="" class="king">Term of use</a>
        <a href="" class="king">Privacy policies</a>
    </li>
    <h3 class="theo">Our office</h3>
    <li class="sss">
        <a href="" class="king">DYNAFLEX Travel Agency, Nnamdi Azikiwe Airport road,Abuja, Nigeria</a>
        <br>
        <a href="" class="king">info:dkorie352@gmail.com</a>
        <a href="" class="king">contact:09118790124</a>
    </li>
    <hr>
    <center>
    <p class="ksb ">Copyright©2024 DYNAFLEX TRAVELS</p>
</center>
    </footer>
</body>
</html> 